.custom-logout-btn {
  background-color: #d9534f !important;
  color: white !important;
  border: none;
  font-size: 12px;
}

.custom-logout-btn:hover {
  background-color: #c9302c !important;
}
.custom-logout{
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
